@import "./mixins.scss";
@import "./media.scss";

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    min-height: 100vh;
    position: relative;
}

.header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    @include tablet {
        height: 70px;
    }
}

.button {
    background-color: transparent;
    font-family: 'Bebas', sans-serif;
    font-size: 28px;
    font-weight: 700;
    border-radius: 8px;
    border: 2px solid transparent;
    text-align: center;
    outline: 0;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;
    transition: .15s ease-in-out;
    width: 250px;
    color: white;
    background-color: #f08663;

    &:hover {
        box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.24);
    }
}  

.label {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 11px 85px rgba(0, 0, 0, 0.7);
    background-color: #f08663;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: 'Bebas', sans-serif;
    letter-spacing: 0.24px;

    > * {
        margin: 0 15px;
    }
}

.section {
    padding: 147px 10px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
}

.divider {
    height: 30px;
    display: flex;
    align-items: center;

    > .divider-line {
        height: 6px;
        width: 102px;
        background-color: #15484c;
    }
}   