.section-two {
    background-color: #b1d9cf;
    min-height: 795px;
    
    &__content-wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    &__content {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        @include tablet {
            flex-direction: column;

        }

        .content-left {
            @include flexWidth(50%);

            &__intro {
                font-weight: bold;
            }

            &__article {
                display: flex;
                justify-content: space-between;

                > .article__col-1 {
                    @include flexWidth(48%);
                }

                > .article__col-2 {
                    @include flexWidth(48%);
                }
            }

            @include tablet {
                @include flexHeight(50%);
                width: 100%;
            }
        }

        .content-right {
            @include flexWidth(50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include tablet {
                @include flexHeight(50%);
                width: 100%;
            }

            &__logo {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;

                > .logo-img {
                    width: 100%;
                }
            }

        }
    }
}