.section-one {
    background-color: #e2eded;
    background-image: url(../../assets/images/background-empty.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    min-height: 900px;
    margin-bottom: 60px;

    @include tablet {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__content-wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
     }

    &__content {
        margin: 0 auto;
        width: 80%;
        height: 100%;
        position: relative;

        @include tablet {
            width: 95%;
        }

        .content-article {
            display: flex;
            flex-direction: column;
            width: 40%;  
            font-size: 24px; 
            position: relative;
            z-index: 1;  
          

            &__body {
                width: 80%;
            }

            @include tablet {
                width: 70%;
                > h1 {
                    font-size: 60px;
                }
            }
           
        }

        .content-pic {
            position: absolute; 
            top: 0;
            left: 35%;
            width: 50%;
            z-index: 0; 

            @include tablet {
                width: 60%;
                transform: translate(-15%, 25%);
                
            }
          

            &__square-img {
                width: 275px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                transform: translate(0, -10%);

                @include tablet {
                    display: none;
                }
            }
        
            &__phone-img {
                position: relative;
                width: 100%;
                z-index: 1;
            }
        }

        .content-label {
            position: absolute;
            top: 0;
            right: -20px;
            transform: rotate(12deg);
            z-index: 2;

            &__title {
                font-size: 2.111em;
                font-family: 'Bebas', sans-serif;
                font-weight: bold;
        
                &:before {
                    content: '';
                    background-color: white;
                    width: 23%;
                    height: 5px;
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform: translateX(-50%);      
                }
               
                &:after {
                    content: '';
                    background-color: white;
                    width: 23%;
                    height: 5px;
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                }    
        
            }
        }
    }

    &__corner-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 22%;
        min-width: 230px;

        > .corner-image {
            width: 100%;
        }
    }

}